<div>
  <br />    
  <label>Количество слов:</label>
    <input type="number" clrToggle min=1 max=10 placeholder=5 name="name" />
    <br />
    <label>Выберите язык</label>
    <input type="checkbox" clrToggle name="options" required value="English"  checked/>
    <label>Английский</label>
    <input type="checkbox" clrToggle name="options" required value="German"  disabled/>
    <label>Немецкий</label>
    <input type="checkbox" clrToggle name="options" required value="French" disabled/>
    <label>Французский</label>
</div>
